.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 2em 0;

  &__wrapper {
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 3em;
    grid-template-columns: repeat(auto-fill, 360px);
  }

  &__load-more {
    font-size: 1.8rem;
    color: var(--active-color);
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
