@import "./reset.scss";
@import "./mixins.scss";

* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  @include roboto-regular;
  font-size: 14px;
  line-height: 18px;
}

body {
  background-color: #f4f4f4;
}
