.logo {
  cursor: pointer;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__img {
      transition: width 0.2s ease;
      margin-right: 12px;
      &--small {
        width: 45px;
      }
      &--medium {
        width: 58px;
      }
      &--big {
        width: 65px;
      }
    }
    &__text {
      font-size: 20px;
      align-self: flex-end;
    }
  }
}
