@import "../../styles/mixins.scss";

.card {
  background-color: rgba(255, 85, 0, 0.05);

  font-size: 16px;
  padding: 10px;
  border-radius: 10px;

  a {
    display: flex;
    justify-content: space-between;
    min-height: 100%;
  }

  &__info {
    width: 50%;
  }
  &__image {
    width: 150px;
    overflow: hidden;

    margin-right: 1.2rem;

    img {
      width: 100%;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;

  &__title {
    margin-top: 12px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
    @include roboto-bold;
  }

  &__year {
    font-size: 14px;
    font-style: italic;
    text-align: right;
  }

  &__rating {
    font-size: 14px;
    margin-top: auto;
    margin-bottom: 12px;
  }
}
