.main-page-wrapper {
  display: grid;
  grid-template-columns: 400px auto;
}

.forms {
  position: sticky;
  top: 15px;

  &__filter-form {
    width: 300px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    margin-bottom: 50px;
  }

  &__search-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
  }
}

.buttons-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
